#workout 
  %p= @workout.date 
  %p= @workout.workout_name
  %p= @workout.energy 
  %p= @workout.length 
  %p= @workout.time

= link_to "Home", root_path
= link_to "Edit", edit_workout_path(@workout)
= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?"}
 